
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inhaal examen</title>
</head>
<body>
Geef hier in wie je bent, welk examen je wilt inhalen en de reden hiervoor.

  <form action="/inhaal" method="POST">
    <input type="text" placeholder="naam" name="naam">
    <input type="text" placeholder="inhaalExamens" name="inhaalExamens">
    <input type="text" placeholder="reden" name="reden">
    <button type="submit">Submit</button>
  </form>
</body>
</html>