
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inhaal examen</title>
</head>
<body>
Geef hier in wie je bent, welk examen je wilt inhalen en de reden hiervoor.
 <ul class="inhaal">
  <% for(var i=0; i<inhaal.length; i++) {%>
    <li class="inhaalExamens">
      <span><%= inhaal[i].naam %></span>
      <span><%= inhaal[i].examen %></span>
      <span><%= inhaal[i].reden%></span>
    </li>
<% } %>
  </ul>

  <form action="/inhaal" method="POST">
    <input type="text" placeholder="naam" name="naam">
    <input type="text" placeholder="inhaalExamens" name="inhaalExamens">
    <input type="text" placeholder="reden" name="reden">
    <button type="submit">Submit</button>
  </form>
</body>
</html>