<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
Geef hier in wie je bent, welk examen je wilt inhalen en de reden hiervoor.
  <form action="/search" method="POST">
    <input type="text" placeholder="naam" name="naam">
    <button type="submit">Submit</button>
  </form>
  
</body>
</html>